server:
  port: 8080

spring:
  application:
    name: SafeDocs

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/safe_docs_db}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:test}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: false

  jackson:
    property-naming-strategy: SNAKE_CASE

  mail:
    host: ${SPRING_MAIL_HOST:smtp.gmail.com}
    port: ${SPRING_MAIL_PORT:587}
    username: ${SPRING_MAIL_USERNAME:huzaifanaseer074@gmail.com}
    password: ${SPRING_MAIL_PASSWORD:fnehwdpmjtdxniro}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8
    protocol: smtp

jwt:
  secret: "MCsAzvFBHnAv0CWIZonhazMPmT2kkrTSQ8JOVHSRnI8Xo8hdrnRcTQkI6ux3JNJx"
  encryption-secret: "e1n5j0Gbc1bFRzf9dkyD4KZONmh8ONjUzwdGe8gMn-6EqPshH4YSKxzUYuNqjIpn"
  access-ttl: "P30D"
  pre-auth-ttl: "PT5M"
  password-reset-ttl: "PT15M"
  issuer: "AEM"
  min-secret-key-length: 64

auth:
  google:
    client-id: "1090470659344-ohqamrvu9mg19galvecjhn0ao776r5rm.apps.googleusercontent.com"

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.devaxiom.safedocs: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

# Added storage configuration
storage:
  provider: s3
  max-bytes: 10485760
  allowed-content-types:
    - image/png
    - image/jpeg
    - application/pdf
  s3:
    bucket: safedocs
    region: us-east-1
    endpoint: ${STORAGE_S3_ENDPOINT:"http://localhost:19000"}
    path-style: true
    access-key: ${STORAGE_S3_ACCESS_KEY:admin}
    secret-key: ${STORAGE_S3_SECRET_KEY:"AdminPW!"}
    auto-create-bucket: true
